.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: rgb(206, 59, 174);
  color: white;
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.btn.medium {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgb(107, 7, 60);
  font-weight: 600;
}
